/* ==========================================================================
	Font Icon (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */






.newt:table {
border-spacing:20px;
padding:20px;} 

/*table{
	border-spacing:500px;
padding:20px;}

}

*/